<div class="container">
  <h1>STUPID COACHING</h1>
  <h2>Ask your Coach anything!</h2>

  <form action="/answer" method="get">
    <input type="text" name="query" placeholder="Who are you looking for?"> 
    <input type="submit" value="Ask!">
  </form>
</div>